body {
	/*background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/41294/hero.jpg) no-repeat center center fixed; 
	background-size: cover;
	*/
	background: #25292e;
	font-family: 'Inconsolata', monospace;
}


section{
	width: 600px;
	margin: 0 auto;
}


.search {
	width: 500px;
	height: 40px;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	background: #444;
	background: rgba(0,0,0,.2);
	border-radius:  3px;
	border: 1px solid #fff;
	color: white;
}

input {
	width: 370px;
	padding: 10px 5px;
	padding-left: 10px;
	float: left;
	color: #ccc;
    border: 0;
	background: transparent;
	border-radius: 3px 0 0 3px;
}

input:focus {
	outline: 0;
	background:transparent;
}
	
button {
	font-family: sans-serif;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 40px;
	width: 115px;
	color: #fff;
	background: transparent;
	border-left: 1px solid #fff;
	border-radius: 0 3px 3px 0;
}

button:hover {
	background: #fff;
	color:rgb(22, 22, 22);
}
button:active {
	box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}
button:focus {
	outline: 0;
}



hr{
	border: 0;
	border-bottom: 2px solid rgba(255, 255, 255, 0.35);
	margin: 15px 0 15px 0;
}

.game_info{
	line-height: 1.7;
	margin-top: 35px;
	padding-left: 50px;
	color: white;
	letter-spacing: -0.5px;
}

.game_info span{
	display: block;
	width: 100%;
	font-size: 15px;
}

.game_info span h1{
	font-family: sans-serif;
	display: block;
	font-size: 40px;
	text-transform: uppercase;
	margin: 0;
	margin-left: 20px;
}

.game_info span h4{
	font-size: 20px;
	font-weight: 200;
	text-transform: uppercase;
	margin: 0;
	margin-left: 20px;
}
.game_info span h4 .rating{
	display: inline-block;
	width: auto;
	height: 35px;
	border-radius: 5px;
	background: #e6e6e6;
	color: black;
	font-size: 20px;
	font-weight: 700;
	padding: 5px 10px 5px 10px;
}


a{
    text-decoration: none;
	color: #c2c2c2;
}

a:visited{
	text-decoration: none;
	color: #c2c2c2
}
a:active{
	text-decoration: none;
	color: #c2c2c2;
}
a:hover{
	transition: .2s;
	color: #fff;
	text-decoration: none;
	padding-bottom: 2px;
	box-shadow: 0 3px 0 0 rgba(255,255,255, 0.75);
}


