{% extends 'base.html' %}

{% block content %}

    <!--
    <div class="d3">
        <p>Fing a game</p>
        <form method='POST'> 
            {% csrf_token %}
            {{ form }}
            <button type="submit"></button>
        </form>
    </div>

    -->
            <section>
                <div class="container">
                <form method='POST'> 
                        {% csrf_token %}

                        {{ form }}

                        <div class="search"></div>
                        <input class='send_field' type="submit">

            
                </form>
                </div>


                <div class="game_info">
                    Game: {{ game }}
                    <br>
                    <a href="{{ epicgames_link }}" target="_blank">Epicgames</a> {{ epicgames_price }}
                    <br>
                    <a href="{{ playstationstore_link }}" target="_blank">Playstationstore: </a> {{ playstationstore_price }}
                    <br>
                    <a href="{{ microsoftstore_link }}" target="_blank">Microsoftstore</a> {{ microsoftstore_price }}
                    <br>
                    <a href="{{ steam_link }}" target="_blank">Steam</a> {{ steam_price }}
                    <br>
                    <br>
                    <br>
                    <a href="{{ steampay_link }}" target="_blank">Steampay</a> {{ steampay_price }}
                    <br>
                    <a href="{{ gabestore_link }}" target="_blank">Gabestore</a> {{ gabestore_price }}
                    <br>
                    <a href="{{ icegames_link }}" target="_blank">Icegames</a> {{ icegames_price }}
                    <br>
                    <a href="{{ gamefarm_link }}" target="_blank">Gamefarm</a> {{ gamefarm_price }}
                    <br>
                    <a href="{{ steambuy_link }}" target="_blank">Steambuy</a> {{ steambuy_price }}
                </div>
            </section>

            
<!--
                {% if game == None %}
                    <h2></h2>
                {% elif game.strip == '' %}
                    <h2>Empty request</h2>
                {% else %}
                    Game: {{ game }}
                    <br>
                    Epicgames: {{ epicgames_price }}
                    <br>
                    Playstation store: {{ playstationstore_price }}
                    <br>
                    Microsoft store: {{ microsoftstore_price }}
                    <br>
                    STeam: {{ steam_price }}
                    <br>
                    <br>
                    <br>
                    Steampay: {{ steampay_price }}
                    <br>
                    Gabestore: {{ gabestore_price }}
                    <br>
                    Icegames: {{ icegames_price }}
                    <br>
                    Gamefarm: {{ gamefarm_price }}
                    <br>
                    Steambuy: {{ steambuy_price }}
                {% endif %}




                
            -->

{% endblock content %}