@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');
$dark: #2c312e;
$pink: #e85454;
$beige: #ffefb9;
body {
  position: relative;
  background: $dark;
  font-family: 'Source Sans Pro', sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  > * {
    margin: 0 20px;
    padding: 20px;
  }
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.input-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search {
  opacity: 0;
  background: none;
  border: none;
  border-bottom: 3px solid $pink;
  outline: none;
  width: 50%;
  color: $pink;
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
  padding: 0 0 5px 0;
   transition: all 1s ease;
}

::-webkit-input-placeholder {
  font-size: 15px;
  opacity: 0.5;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  color: $beige;
}

.focus {
  width: 80%;
  transition: all 1s ease;
  opacity: 1;
}

.icon {
  width: 2rem;
  height: 2rem;
  fill: $pink;
}

.icon:hover {
  fill: $beige;
  transition: all 1s ease;
}

#magnify {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  background: none;
  outline: none;
  border: none;
  width: 100px;
  transition: all 1s ease;
}

.clicked {
  transform: scale(1.5) translateY(-25px);
  transition: all 1s ease;
}